body {
    background-color: #c944be;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;

}

button {
    background-color: #cdb2e6;
    color: rgb(134, 108, 108);
    font -famiy: "Bai jamjuree", sans- serif;

        }